
@viewport { width: device-width; }

html {
  background-color: $color-background;
  box-sizing: border-box;
  height: 100%;
}

* {
  &:before,
  &:after { box-sizing: inherit; }
}

body {
  -webkit-font-smoothing: antialiased;
  color: $color-text;
  font-family: $font-family-default;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a {
  background: transparent;
  color: $color-link;
  text-decoration: none;
  transition: color .2s;
}

img {
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-display;
  font-weight: normal;
}

/////from main

body {
    font-size: 1rem;
    padding: 0 0 2em 0;
    font-family: 'Montserrat Alternates', Arial, Helvetica, sans-serif;
    text-align: center;
    color: $red;
    background: url('../img/bg.png');

    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }

    .link {
        display: inline-block;
        margin: 1em 0;
        padding: 1em;
        color: $yellow;
        background-color: $gray-dark;
        text-decoration: none;
    }

    h1 {
        font-family: 'Anton', Arial, Helvetica, sans-serif;
    }
}

/* autoprefixer: ignore next */
::placeholder {
    color: gray;
}

.test1 {
    user-select: none;
}

.test2 {
    display: grid;
    user-select: none;
}
