@font-face {
    font-family: 'Anton';
    src: url('../fonts/Anton-Regular.eot');
    src: url('../fonts/Anton-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Anton-Regular.woff2') format('woff2'),
        url('../fonts/Anton-Regular.woff') format('woff'),
        url('../fonts/Anton-Regular.svg#Anton-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
