@charset "utf-8";

// Contents:
// 01. Vendor (Normalize, ...)
// 02. Bootstrap
// 03. Custom CSS
//  03.1 Utilities ( COMPASS, Variables, Functions, Mixins, etc... )
//  03.2 Base ( regular elements )
//  03.3 Layout ( layout template, grid structure )
//  03.4 Modules ( modules, background, colors, typography.. )
//  03.5 States
//  03.6 Themes


// 01. Vendor / Normalize
@import "utilities/vendor/*.scss";

// 02. Bootstrap
@import "layout/bootstrap/variables_custom";
@import "layout/bootstrap/scss/bootstrap";

// 03. Custom CSS

// SMACSS - The toolkit uses recommendations from and Scalable and Modular Architecture for CSS (SMACSS) http://smacss.com/book

// ==========================================================================
// $Utilities
// ==========================================================================
@import "utilities/index"; // Variables, mixins, grid-system, etc.

// ==========================================================================
// $Base
// // ==========================================================================
@import 'base/index';

// // ==========================================================================
// // $Layout
// // ==========================================================================
@import 'layout/index';

// // ==========================================================================
// // $Modules
// // ==========================================================================
@import 'modules/index';

// // ==========================================================================
// // $States
// // ==========================================================================
@import 'states/index';

// // ==========================================================================
// // $Themes
// // ==========================================================================
@import 'themes/index';
