// colors
$linen: #ECE2D0;
$gray-dark: #424B54;
$yellow: #FFCB3A;
$red: #C05746;
$green: #23CE6B;

$bg-color: $linen;
$btn-bg-color: $yellow;


body {
    padding: 30px 0;
    font-family: 'Montserrat Alternates', Arial, Helvetica, sans-serif;
    text-align: center;
    color: $red;
    background: $bg-color;

    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }

    .link {
        display: inline-block;
        margin: 10px 0;
        padding: 10px 10px;
        color: $yellow;
        background-color: $gray-dark;
        text-decoration: none;
    }
}

/* autoprefixer: ignore next */
::placeholder {
    color: gray;
}

.test1 {
    user-select: none; 
}

.test2 {
    display: grid;
    user-select: none;
}

@import "bootstrap/variables";


